*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
test.*
test-*
target/

/models/
extraction/data_raw/
data/*.json.OUTPUT
data/*.json.OUTPUT-1
data/*.json.OUTPUT-2
data/*.json.OUTPUT-3
data/*.json.OUTPUT-4
data/*.json.OUTPUT-5
data/*.json.OUTPUT-6
data/*.json.OUTPUT-7
data/*.json.OUTPUT-8
data/*.json.OUTPUT-9
data/*.json.OUTPUT-10
data/*.json.TEST
data/*.json.TEST-1
data/*.json.TEST-10
data/*.json.TEST-2
data/*.json.TEST-3
data/*.json.TEST-4
data/*.json.TEST-5
data/*.json.TEST-6
data/*.json.TEST-7
data/*.json.TEST-8
data/*.json.TEST-9
data/*.json.TRAIN
data/*.json.TRAIN-1
data/*.json.TRAIN-10
data/*.json.TRAIN-2
data/*.json.TRAIN-3
data/*.json.TRAIN-4
data/*.json.TRAIN-5
data/*.json.TRAIN-6
data/*.json.TRAIN-7
data/*.json.TRAIN-8
data/*.json.TRAIN-9
glove.6B.zip
stanford-english-corenlp-2016-01-10-models.jar
models-old/
out.align
*.swp
data/ns200*
data/wn-wiki*

data-tmp/
tmp*
rnn/docs/model.aux
rnn/docs/model.log
rnn/docs/model.pdf

data-minus-anatomy

default/

experiments/*-sts.json
cit-experiments/*-sts.json
cit-experiments/*.out
/monoling-align/nbproject/

data
data-old
/matching/nbproject/
/servlet/nbproject/private/
/servlet/build/.DS_Store
.DS_Store
/naisc/nbproject/
/basic/nbproject/
/naisc-meas/nbproject/
/naisc-meas/datasets/
/naisc-meas/runs/
/runs/
datasets/*
naisc-core/src/test/resources/model.libsvm
configs/0*
configs/1*
configs/2*
munkres.tmp
out
naisc-core/src/test/resources/model.libsvm
naisc-core/models
.idea
*.iml
build/
.gradle
!gradle-wrapper.jar

## All Eclipse Junk
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

runs_dev/
mwsa
runs_mwsa/
